.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.working-list .item > img {
  display: block;
}
.working-list {
  display: flex;
}
.working-list .item {
  flex-wrap: nowrap;
  background-color: var(--secondary-acsent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.working-list .item:not(:first-child) {
  margin-left: 30px;
}
.working {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.workers {
  padding: 30px 32px;
}

.name {
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-color);
}
.profession-social-list {
  display: flex;
  justify-content: space-between;
}
.profession-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #b6b8af;
}
